
<style>
    .header {
        transition: all 0.5s;
        z-index: 997;
        padding: 30px 0;
        background-color: #000;
    }

    .Screen {
        font-family: Montserrat, "Noto Sans TC", "Microsoft JhengHei", sans-serif !important;
        position: relative;
        width: 100%;
        min-height: 110vh;
        background-color: #070720;
        z-index: 2000;
        padding-bottom: 100px;
        overflow: auto;
        height: calc(100vh - 130px);
        float: none;
        width: 100%;
        margin: 5px auto;
        overflow-y: auto;
    }

        .Screen .wrapper {
            max-width: 1200px;
            width: 100%;
            margin: auto;
            text-align: center;
            position: relative;
            justify-content: space-between;
        }

            .Screen .wrapper .north {
                width: 35%;
            }

            .Screen .wrapper .space {
                width: 20%;
                height: 5vh;
            }

            .Screen .wrapper .loc-part {
                min-width: 180px;
                width: 22%;
                min-height: 80vh;
                display: inline-flex;
                -webkit-box-pack: start;
                place-content: flex-start;
                flex-wrap: wrap;
                vertical-align: top;
            }

                .Screen .wrapper .loc-part .big-title {
                    width: 100%;
                    font-size: 1.375rem;
                    color: rgb(158, 158, 158);
                    font-weight: 300;
                    text-align: left;
                    height: 50px;
                    float: left;
                    margin: 0px;
                }

                .Screen .wrapper .loc-part .cinema {
                    width: 100%;
                    color: rgb(255, 255, 255);
                    font-weight: 300;
                    text-align: left;
                    cursor: pointer;
                    height: 50px;
                }

                    .Screen .wrapper .loc-part .cinema:hover {
                        color: rgb(220, 220, 220);
                        font-size: 1.1rem;
                    }
</style>

<div class="Screen">
    <div class="wrapper">
        <div class="space"></div>
        <div class="loc-part north">
            <h3 class="big-title">北區</h3>
            <div class="commonStyled__Clearfix-sc-kt5vy-2 dyOReL"></div>
            <div class="cinema"><a asp-area="" asp-controller="Ticketing" asp-action="SeatMap">台北信義威秀影城</a></div>
            <div class="cinema">台北美麗華大直影城</div>
            <div class="cinema">台北京站威秀影城</div>
            <div class="cinema">板橋大遠百威秀影城</div>
            <div class="cinema">喜樂時代影城南港店</div>
            <div class="cinema">台北in89豪華數位影城</div>
            <div class="cinema">喜滿客絕色影城</div>
            <div class="cinema">台北獅子林新光影城</div>
            <div class="cinema">林口MITSUI OUTLET PARK威秀影城</div>
            <div class="cinema">台北樂聲影城</div>
            <div class="cinema">喜樂時代影城永和店</div>
            <div class="cinema">台北真善美劇院</div>
            <div class="cinema">梅花數位影城</div>
            <div class="cinema">哈拉影城</div>
            <div class="cinema">台北新民生戲院</div>
            <div class="cinema">花蓮新天堂樂園威秀影城</div>
            <div class="cinema">中和環球威秀影城</div>
            <div class="cinema">MUVIE CINEMAS台北松仁威秀</div>
            <div class="cinema">台北天母新光影城</div>
        </div><div class="loc-part ">
            <h3 class="big-title">桃竹苗</h3>
            <div class="commonStyled__Clearfix-sc-kt5vy-2 dyOReL"></div>
            <div class="cinema">桃園青埔新光影城</div>
            <div class="cinema">喜樂時代影城桃園A19店</div>
            <div class="cinema">桃園in89統領影城</div>
            <div class="cinema">桃園統領威秀影城</div>
            <div class="cinema">新竹大遠百威秀影城</div>
            <div class="cinema">頭份尚順威秀影城</div>
            <div class="cinema">新竹巨城威秀影城</div>
        </div>
        <div class="loc-part ">
            <h3 class="big-title">中區</h3><div class="commonStyled__Clearfix-sc-kt5vy-2 dyOReL"></div>
            <div class="cinema">台中豐原in89豪華影城</div>
            <div class="cinema">台中大遠百威秀影城</div>
            <div class="cinema">台中大魯閣新時代威秀影城</div>
            <div class="cinema">台中Tiger City威秀影城</div>
            <div class="cinema">台中中港新光影城</div>
        </div>
        <div class="loc-part ">
            <h3 class="big-title">南區及離島</h3>
            <div class="commonStyled__Clearfix-sc-kt5vy-2 dyOReL"></div>
            <div class="cinema">台南南紡威秀影城</div><div class="cinema">台南大遠百威秀影城</div>
            <div class="cinema">台南FOCUS威秀影城</div><div class="cinema">台南西門新光影城</div>
            <div class="cinema">台南真善美劇院</div><div class="cinema">高雄大遠百威秀影城</div>
            <div class="cinema">高雄in89駁二電影院</div><div class="cinema">中影屏東影城</div>
            <div class="cinema">澎湖in89豪華影城</div>
        </div>
    </div>
</div>


