@{
    ViewData["Title"] = "Privacy";
}

<style>
    #content-2-wide:before {
        content: '';
        background-color: rgba(168,168,168,0.1);
        border-left: solid 3px #999;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 338px;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
    }

    #top_rhs_after, .article.on-tv, .aux-content-widget-2, .aux-content-widget-3, .aux-content-widget-4, .mini-article {
        border-bottom: solid 1px #ccc;
        padding-bottom: 20px;
        padding-top: 16px;
        position: relative;
    }
    #sidebar {
        display: inline-block;
    }
</style>
<div id="pagecontent">
    <div class="pagecontent">


        <script type="text/javascript">
// Track beginning of ad html
if (typeof window.uet === 'function') {
window.uet('bb', 'adplacements:' + 'injected_billboard'.replace(/_/g, ':'), {wb: 1});
}
        </script>
        <!-- begin INJECTED_BILLBOARD -->
        <div id="injected_billboard_wrapper" class="injected_slot" style="display: none;">
            <script type="text/javascript">
doWithAds(function(){
if ('injected_slot' != 'injected_slot' && ad_utils && ad_utils.register_ad) {
ad_utils.register_ad('injected_billboard');
}
});
            </script>
            <iframe title="Advertisement" allowtransparency="true" class="yesScript " safeframe-viewability-treatment="" frameborder="0" id="injected_billboard" marginwidth="0" marginheight="0" name="injected_billboard" onload="doWithAds.call(this, function(){ if(ad_utils &amp;&amp; ad_utils.on_ad_load) { ad_utils.on_ad_load(this); }}); " scrolling="no" data-original-width="0" data-original-height="0" width="0" height="0" style="display: none;"></iframe>
        </div>
        <div id="injected_billboard_reflow_helper"></div>
        <script id="injected_billboard_rendering">
doWithAds(function() {
if ('injected_slot' == 'cornerstone_slot' && ad_utils && ad_utils.inject_serverside_ad) {
ad_utils.inject_serverside_ad('injected_billboard', '');
} else if ('injected_slot' == 'injected_slot' && ad_utils && ad_utils.inject_ad && ad_utils.inject_ad.register) {
ad_utils.inject_ad.register('injected_billboard');
}
}, "ad_utils not defined, unable to render client-side GPT ad or injected ad.");
var videoEvt = {
type: '',
dispatcher: 'video-handler',
slotName: 'injected_billboard',
timestamp: Date.now()
};
var genericEvt;
videoEvt.type = 'no-autoplay-video-ad-detected';
genericEvt = {
type: 'noAdToLoad',
dispatcher: 'generic',
slotName: 'injected_billboard',
timestamp: Date.now()
};
if (window && window.origin) {
window.postMessage(videoEvt, window.origin);
if (genericEvt) {
window.postMessage(genericEvt, window.origin);
}
}
        </script>
        <!-- End INJECTED_BILLBOARD -->













    </div>
    <div id="top-slot-wrapper" class="pagecontent">








    </div>
    <div class="pagecontent">
        <div id="content-2-wide">
            <div id="main">








                <script>
    if (typeof uet == 'function') {
      uet("af");
    }
                </script>




                <a name="slot_center-1"></a>
                <div class="article">






                    <script type="text/javascript">if(typeof uet === 'function'){uet('bb','BoxOfficeChartWidget',{wb:1});}</script>




                    <span class="ab_widget">

                        <h1 class="header">Top Box Office (US)</h1>

                        <div id="boxoffice" class="article listo">
                            <div class="chart-social-sharing-widget" id="social-sharing-widget"></div>
                            <h4>Weekend of October 21 - 23, 2022</h4>
                            <br>
                            <table class="chart full-width" data-caller-name="chart-boxoffice">
                                <colgroup>
                                    <col class="chartTableColumnPoster">
                                    <col class="chartTableColumnTitle">
                                    <col class="chartTableGross">
                                    <col class="chartTableGross">
                                    <col class="chartTableWeeks">
                                    <col class="chartTableColumnWatchlistRibbon">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Title</th>
                                        <th>Weekend</th>
                                        <th>Gross</th>
                                        <th>Weeks</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <td class="posterColumn">
                                            <a href="/title/tt6443346?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=f9f31d04-fc22-4d12-86b4-f46e25aa2f6f&amp;pf_rd_r=CP5ABK81TSEGHV6GC6P7&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=boxoffice&amp;ref_=cht_bo_1">
                                                <img src="https://m.media-amazon.com/images/M/MV5BYzZkOGUwMzMtMTgyNS00YjFlLTg5NzYtZTE3Y2E5YTA5NWIyXkEyXkFqcGdeQXVyMjkwOTAyMDU@@._V1_UY67_CR0,0,45,67_AL_.jpg" width="45" height="67" alt="Black Adam">
                                            </a>
                                        </td>
                                        <td class="titleColumn">
                                            <a href="/title/tt6443346?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=f9f31d04-fc22-4d12-86b4-f46e25aa2f6f&amp;pf_rd_r=CP5ABK81TSEGHV6GC6P7&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=boxoffice&amp;ref_=cht_bo_1" title="Jaume Collet-Serra (dir.), Dwayne Johnson, Aldis Hodge">Black Adam</a>
                                        </td>
                                        <td class="ratingColumn">
                                            $67.0M
                                        </td>
                                        <td class="ratingColumn">
                                            <span class="secondaryInfo">$67.0M</span>
                                        </td>
                                        <td class="weeksColumn">1</td>
                                        <td class="watchlistColumn"><div class="wlb_ribbon" data-tconst="tt6443346" style="position: relative;"><div class="wl-ribbon standalone retina not-inWL" title="Click to add to watchlist"></div></div></td>
                                    </tr>

                                    <tr>
                                        <td class="posterColumn">
                                            <a href="/title/tt14109724?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=f9f31d04-fc22-4d12-86b4-f46e25aa2f6f&amp;pf_rd_r=CP5ABK81TSEGHV6GC6P7&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=boxoffice&amp;ref_=cht_bo_2">
                                                <img src="https://m.media-amazon.com/images/M/MV5BMWE0MmEwMWUtZjRjOC00YzE3LWI2MjctNjc3NWQ0YTVmNDQ4XkEyXkFqcGdeQXVyODk4OTc3MTY@@._V1_UX45_CR0,0,45,67_AL_.jpg" width="45" height="67" alt="Ticket to Paradise">
                                            </a>
                                        </td>
                                        <td class="titleColumn">
                                            <a href="/title/tt14109724?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=f9f31d04-fc22-4d12-86b4-f46e25aa2f6f&amp;pf_rd_r=CP5ABK81TSEGHV6GC6P7&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=boxoffice&amp;ref_=cht_bo_2" title="Ol Parker (dir.), George Clooney, Sean Lynch">Ticket to Paradise</a>
                                        </td>
                                        <td class="ratingColumn">
                                            $16.5M
                                        </td>
                                        <td class="ratingColumn">
                                            <span class="secondaryInfo">$16.5M</span>
                                        </td>
                                        <td class="weeksColumn">1</td>
                                        <td class="watchlistColumn"><div class="wlb_ribbon" data-tconst="tt14109724" style="position: relative;"><div class="wl-ribbon standalone retina not-inWL" title="Click to add to watchlist"></div></div></td>
                                    </tr>

                                    <tr>
                                        <td class="posterColumn">
                                            <a href="/title/tt15474916?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=f9f31d04-fc22-4d12-86b4-f46e25aa2f6f&amp;pf_rd_r=CP5ABK81TSEGHV6GC6P7&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=boxoffice&amp;ref_=cht_bo_3">
                                                <img src="https://m.media-amazon.com/images/M/MV5BZjE2ZWIwMWEtNGFlMy00ZjYzLWEzOWEtYzQ0MDAwZDRhYzNjXkEyXkFqcGdeQXVyMTUzMTg2ODkz._V1_UY67_CR0,0,45,67_AL_.jpg" width="45" height="67" alt="Smile">
                                            </a>
                                        </td>
                                        <td class="titleColumn">
                                            <a href="/title/tt15474916?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=f9f31d04-fc22-4d12-86b4-f46e25aa2f6f&amp;pf_rd_r=CP5ABK81TSEGHV6GC6P7&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=boxoffice&amp;ref_=cht_bo_3" title="Parker Finn (dir.), Sosie Bacon, Jessie T. Usher">Smile</a>
                                        </td>
                                        <td class="ratingColumn">
                                            $8.5M
                                        </td>
                                        <td class="ratingColumn">
                                            <span class="secondaryInfo">$84.4M</span>
                                        </td>
                                        <td class="weeksColumn">4</td>
                                        <td class="watchlistColumn"><div class="wlb_ribbon" data-tconst="tt15474916" style="position: relative;"><div class="wl-ribbon standalone retina not-inWL" title="Click to add to watchlist"></div></div></td>
                                    </tr>

                                    <tr>
                                        <td class="posterColumn">
                                            <a href="/title/tt10665342?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=f9f31d04-fc22-4d12-86b4-f46e25aa2f6f&amp;pf_rd_r=CP5ABK81TSEGHV6GC6P7&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=boxoffice&amp;ref_=cht_bo_4">
                                                <img src="https://m.media-amazon.com/images/M/MV5BZTg1Y2Q3MzctMDlkOS00OGE1LWE4MjUtNmJjNDNkZmM2YmVkXkEyXkFqcGdeQXVyMjY5ODI4NDk@@._V1_UY67_CR0,0,45,67_AL_.jpg" width="45" height="67" alt="Halloween Ends">
                                            </a>
                                        </td>
                                        <td class="titleColumn">
                                            <a href="/title/tt10665342?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=f9f31d04-fc22-4d12-86b4-f46e25aa2f6f&amp;pf_rd_r=CP5ABK81TSEGHV6GC6P7&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=boxoffice&amp;ref_=cht_bo_4" title="David Gordon Green (dir.), Jamie Lee Curtis, Andi Matichak">Halloween Ends</a>
                                        </td>
                                        <td class="ratingColumn">
                                            $8.0M
                                        </td>
                                        <td class="ratingColumn">
                                            <span class="secondaryInfo">$54.2M</span>
                                        </td>
                                        <td class="weeksColumn">2</td>
                                        <td class="watchlistColumn"><div class="wlb_ribbon" data-tconst="tt10665342" style="position: relative;"><div class="wl-ribbon standalone retina not-inWL" title="Click to add to watchlist"></div></div></td>
                                    </tr>

                                    <tr>
                                        <td class="posterColumn">
                                            <a href="/title/tt14668630?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=f9f31d04-fc22-4d12-86b4-f46e25aa2f6f&amp;pf_rd_r=CP5ABK81TSEGHV6GC6P7&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=boxoffice&amp;ref_=cht_bo_5">
                                                <img src="https://m.media-amazon.com/images/M/MV5BYjNhZjA3MTctOTFjNi00Mjg5LTk3ODctOGZkNDMyMjY3YWNhXkEyXkFqcGdeQXVyMTI2ODM1ODUw._V1_UY67_CR0,0,45,67_AL_.jpg" width="45" height="67" alt="Lyle, Lyle, Crocodile">
                                            </a>
                                        </td>
                                        <td class="titleColumn">
                                            <a href="/title/tt14668630?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=f9f31d04-fc22-4d12-86b4-f46e25aa2f6f&amp;pf_rd_r=CP5ABK81TSEGHV6GC6P7&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=boxoffice&amp;ref_=cht_bo_5" title="Josh Gordon (dir.), Javier Bardem, Scoot McNairy">Lyle, Lyle, Crocodile</a>
                                        </td>
                                        <td class="ratingColumn">
                                            $4.3M
                                        </td>
                                        <td class="ratingColumn">
                                            <span class="secondaryInfo">$28.8M</span>
                                        </td>
                                        <td class="weeksColumn">3</td>
                                        <td class="watchlistColumn"><div class="wlb_ribbon" data-tconst="tt14668630" style="position: relative;"><div class="wl-ribbon standalone retina not-inWL" title="Click to add to watchlist"></div></div></td>
                                    </tr>

                                    <tr>
                                        <td class="posterColumn">
                                            <a href="/title/tt8093700?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=f9f31d04-fc22-4d12-86b4-f46e25aa2f6f&amp;pf_rd_r=CP5ABK81TSEGHV6GC6P7&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=boxoffice&amp;ref_=cht_bo_6">
                                                <img src="https://m.media-amazon.com/images/M/MV5BY2I4MDIwYWUtOWMxNC00ZTIzLWE3OGYtOWUyMmIwZGE2NjU4XkEyXkFqcGdeQXVyMTUzMTg2ODkz._V1_UY67_CR4,0,45,67_AL_.jpg" width="45" height="67" alt="The Woman King">
                                            </a>
                                        </td>
                                        <td class="titleColumn">
                                            <a href="/title/tt8093700?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=f9f31d04-fc22-4d12-86b4-f46e25aa2f6f&amp;pf_rd_r=CP5ABK81TSEGHV6GC6P7&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=boxoffice&amp;ref_=cht_bo_6" title="Gina Prince-Bythewood (dir.), Viola Davis, Thuso Mbedu">The Woman King</a>
                                        </td>
                                        <td class="ratingColumn">
                                            $1.9M
                                        </td>
                                        <td class="ratingColumn">
                                            <span class="secondaryInfo">$62.8M</span>
                                        </td>
                                        <td class="weeksColumn">6</td>
                                        <td class="watchlistColumn"><div class="wlb_ribbon" data-tconst="tt8093700" style="position: relative;"><div class="wl-ribbon standalone retina not-inWL" title="Click to add to watchlist"></div></div></td>
                                    </tr>

                                    <tr>
                                        <td class="posterColumn">
                                            <a href="/title/tt10403420?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=f9f31d04-fc22-4d12-86b4-f46e25aa2f6f&amp;pf_rd_r=CP5ABK81TSEGHV6GC6P7&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=boxoffice&amp;ref_=cht_bo_7">
                                                <img src="https://m.media-amazon.com/images/M/MV5BNTc5YWQ2MzAtM2E3Yi00MDUyLWFiYzctMzQ5NWVkMmQ0OTcxXkEyXkFqcGdeQXVyMTU2MDk3MDQz._V1_UY67_CR0,0,45,67_AL_.jpg" width="45" height="67" alt="Terrifier 2">
                                            </a>
                                        </td>
                                        <td class="titleColumn">
                                            <a href="/title/tt10403420?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=f9f31d04-fc22-4d12-86b4-f46e25aa2f6f&amp;pf_rd_r=CP5ABK81TSEGHV6GC6P7&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=boxoffice&amp;ref_=cht_bo_7" title="Damien Leone (dir.), David Howard Thornton, Jenna Kanell">Terrifier 2</a>
                                        </td>
                                        <td class="ratingColumn">
                                            $1.8M
                                        </td>
                                        <td class="ratingColumn">
                                            <span class="secondaryInfo">$5.1M</span>
                                        </td>
                                        <td class="weeksColumn">3</td>
                                        <td class="watchlistColumn"><div class="wlb_ribbon" data-tconst="tt10403420" style="position: relative;"><div class="wl-ribbon standalone retina not-inWL" title="Click to add to watchlist"></div></div></td>
                                    </tr>

                                    <tr>
                                        <td class="posterColumn">
                                            <a href="/title/tt10731256?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=f9f31d04-fc22-4d12-86b4-f46e25aa2f6f&amp;pf_rd_r=CP5ABK81TSEGHV6GC6P7&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=boxoffice&amp;ref_=cht_bo_8">
                                                <img src="https://m.media-amazon.com/images/M/MV5BMzFkMWUzM2ItZWFjMi00NDY0LTk2MDMtZDhkMDE2MjRlYmZlXkEyXkFqcGdeQXVyNTAzNzgwNTg@@._V1_UY67_CR0,0,45,67_AL_.jpg" width="45" height="67" alt="Don't Worry Darling">
                                            </a>
                                        </td>
                                        <td class="titleColumn">
                                            <a href="/title/tt10731256?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=f9f31d04-fc22-4d12-86b4-f46e25aa2f6f&amp;pf_rd_r=CP5ABK81TSEGHV6GC6P7&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=boxoffice&amp;ref_=cht_bo_8" title="Olivia Wilde (dir.), Florence Pugh, Harry Styles">Don't Worry Darling</a>
                                        </td>
                                        <td class="ratingColumn">
                                            $868K
                                        </td>
                                        <td class="ratingColumn">
                                            <span class="secondaryInfo">$44.3M</span>
                                        </td>
                                        <td class="weeksColumn">5</td>
                                        <td class="watchlistColumn"><div class="wlb_ribbon" data-tconst="tt10731256" style="position: relative;"><div class="wl-ribbon standalone retina not-inWL" title="Click to add to watchlist"></div></div></td>
                                    </tr>

                                    <tr>
                                        <td class="posterColumn">
                                            <a href="/title/tt10304142?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=f9f31d04-fc22-4d12-86b4-f46e25aa2f6f&amp;pf_rd_r=CP5ABK81TSEGHV6GC6P7&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=boxoffice&amp;ref_=cht_bo_9">
                                                <img src="https://m.media-amazon.com/images/M/MV5BNDQwNzE0ZTItYmZjMC00NjI3LWFlNzctNTExZDY2NWE0Zjc0XkEyXkFqcGdeQXVyMTA3MDk2NDg2._V1_UX45_CR0,0,45,67_AL_.jpg" width="45" height="67" alt="Amsterdam">
                                            </a>
                                        </td>
                                        <td class="titleColumn">
                                            <a href="/title/tt10304142?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=f9f31d04-fc22-4d12-86b4-f46e25aa2f6f&amp;pf_rd_r=CP5ABK81TSEGHV6GC6P7&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=boxoffice&amp;ref_=cht_bo_9" title="David O. Russell (dir.), Christian Bale, Margot Robbie">Amsterdam</a>
                                        </td>
                                        <td class="ratingColumn">
                                            $825K
                                        </td>
                                        <td class="ratingColumn">
                                            <span class="secondaryInfo">$13.9M</span>
                                        </td>
                                        <td class="weeksColumn">3</td>
                                        <td class="watchlistColumn"><div class="wlb_ribbon" data-tconst="tt10304142" style="position: relative;"><div class="wl-ribbon standalone retina not-inWL" title="Click to add to watchlist"></div></div></td>
                                    </tr>

                                    <tr>
                                        <td class="posterColumn">
                                            <a href="/title/tt7322224?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=f9f31d04-fc22-4d12-86b4-f46e25aa2f6f&amp;pf_rd_r=CP5ABK81TSEGHV6GC6P7&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=boxoffice&amp;ref_=cht_bo_10">
                                                <img src="https://m.media-amazon.com/images/M/MV5BNDRiZjc0ZDMtMjhlYi00ZjAzLTg0MDQtZDI2NGEyYTBlN2M2XkEyXkFqcGdeQXVyMTA2MDU0NjM5._V1_UY67_CR0,0,45,67_AL_.jpg" width="45" height="67" alt="Triangle of Sadness">
                                            </a>
                                        </td>
                                        <td class="titleColumn">
                                            <a href="/title/tt7322224?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=f9f31d04-fc22-4d12-86b4-f46e25aa2f6f&amp;pf_rd_r=CP5ABK81TSEGHV6GC6P7&amp;pf_rd_s=center-1&amp;pf_rd_t=15506&amp;pf_rd_i=boxoffice&amp;ref_=cht_bo_10" title="Ruben Östlund (dir.), Thobias Thorwid, Harris Dickinson">Triangle of Sadness</a>
                                        </td>
                                        <td class="ratingColumn">
                                            $601K
                                        </td>
                                        <td class="ratingColumn">
                                            <span class="secondaryInfo">$1.4M</span>
                                        </td>
                                        <td class="weeksColumn">3</td>
                                        <td class="watchlistColumn"><div class="wlb_ribbon" data-tconst="tt7322224" style="position: relative;"><div class="wl-ribbon standalone retina not-inWL" title="Click to add to watchlist"></div></div></td>
                                    </tr>
                                </tbody>
                            </table>

                            <div class="reported text-smaller">
                                Reported by
                                <a class="tracked-offsite-link " data-ref="cht_bo_mj" rel="" data-page-type="chart" data-subpage-type="main" data-page-action="offsite-boxofficemojo" data-page-const="" href="https://www.boxofficemojo.com" target="_blank" onclick="window.imdb.trackOffsiteLink(this)">
                                    Box Office Mojo
                                </a>
                                © 2022
                            </div>
                            <hr>
                            <a class="tracked-offsite-link " data-ref="cht_bo_mj" rel="" data-page-type="chart" data-subpage-type="main" data-page-action="offsite-boxofficemojo" data-page-const="" href="https://www.boxofficemojo.com/daily/chart/" target="_blank" onclick="window.imdb.trackOffsiteLink(this)">
                                See more box office results at BoxOfficeMojo.com
                            </a>
                            &nbsp;»
                        </div>


                    </span>



                    <script type="text/javascript">
                if(typeof uex === 'function'){uex('ld','BoxOfficeChartWidget',{wb:1});}
                    </script>





                </div>





















































































































































            </div>
            <div id="sidebar">


                <script type="text/javascript">
// Track beginning of ad html
if (typeof window.uet === 'function') {
window.uet('bb', 'adplacements:' + 'top_rhs'.replace(/_/g, ':'), {wb: 1});
}
                </script>
                <!-- Lantern slotname top_rhs -->
                <!-- Lantern placement id: -->
                <!-- begin TOP_RHS -->
                <div id="top_rhs_wrapper" class="cornerstone_slot">
                    <script type="text/javascript">
doWithAds(function(){
if ('cornerstone_slot' != 'injected_slot' && ad_utils && ad_utils.register_ad) {
ad_utils.register_ad('top_rhs');
}
});
                    </script>
                    <iframe title="Advertisement" allowtransparency="true" class="yesScript " data-first-party-creative-template="" frameborder="0" id="top_rhs" marginwidth="0" marginheight="0" name="top_rhs" onload="doWithAds.call(this, function(){ if(ad_utils &amp;&amp; ad_utils.on_ad_load) { ad_utils.on_ad_load(this); }}); " scrolling="no" data-original-width="300" data-original-height="250" width="0" height="0"></iframe>
                </div>
                <div id="top_rhs_reflow_helper"></div>
                <script id="top_rhs_rendering">
doWithAds(function(){
if (ad_utils) {
if (ad_utils.set_aax_instrumentation_pixel_url) {
ad_utils.set_aax_instrumentation_pixel_url('TOP_RHS', 'https://aax-eu.amazon-adsystem.com/x/px/RNZLP0oGGLte8yXmWQDDwFoAAAGEKB_70wMAAADKAQBOL0EgICAgICAgICAgICBOL0EgICAgICAgICAgICDn68Ri/');
}
if (ad_utils.set_aax_impression_pixel_url) {
ad_utils.set_aax_impression_pixel_url('TOP_RHS', 'https://aax-eu.amazon-adsystem.com/e/loi/imp?b=JNZLP0oGGLte8yXmWQDDwFoAAAGEKB_77QMAAADKAQBOL0EgICAgICAgICAgICBOL0EgICAgICAgICAgICDn68Ri');
}
if (ad_utils.inject_serverside_ad) {
ad_utils.inject_serverside_ad('top_rhs', ' <script>document.defaultAd = {h:250,w:300}; document.ad = document.defaultAd;<\/script>\n<script id=\"video-event-handlers\">\n (function(window, document) {\n let SLOT_NAME = \'top_rhs\';\n let videoTargetMap = new Map(); \n let validPlayIndicatorEvents = [\'loadstart\', \'play\'];\n\n function makeId() {\n return Math.random().toString(36).substr(2, 16);\n }\n\n function handleVideoEvent(event) {\n let videoTarget = event.target;\n let eventType = event.type;\n let timestamp = Date.now();\n\n if (videoTarget.nodeName !== \'VIDEO\' || videoTarget.loop) {\n return;\n }\n\n if (!videoTargetMap.has(videoTarget)) {\n let id = makeId();\n videoTargetMap.set(videoTarget, {\n id: id\n });\n videoTarget.id = id;\n }\n\n let videoTargetEventMap = videoTargetMap.get(videoTarget);\n videoTargetEventMap[eventType] = timestamp;\n\n if (eventType === \'ended\') {\n let firedEvents = Object.keys(videoTargetEventMap);\n let hasMatchingPlayEvent = firedEvents.some(function(evt) {\n return validPlayIndicatorEvents.includes(evt);\n });\n if (!hasMatchingPlayEvent) return;\n }\n\n let evt = {\n type: eventType,\n dispatcher: \'video-handler\',\n documentAdString: JSON.stringify(document.ad),\n slotName: SLOT_NAME,\n targetElementId: videoTargetEventMap.id,\n timestamp: timestamp\n };\n\n parent.postMessage(evt, parent.origin);\n }\n\n document.addEventListener(\'loadstart\', handleVideoEvent, true);\n document.addEventListener(\'play\', handleVideoEvent, true);\n document.addEventListener(\'pause\', handleVideoEvent, true);\n document.addEventListener(\'ended\', handleVideoEvent, true);\n })(window, document);\n<\/script>\n <!DOCTYPE html><html><body><\!-- aid : 3671568720302 : cid : 8190573510602 : template : IMDb Slot Collapser Desktop-1.21 --\><\!-- [METADATA_START] {\n \"creativeId\" : \"8190573510602\"\n \n , \"creativeHeight\": 0 \n , \"creativeWidth\": 0 \n \n \n } [METADATA_END] --\><script>document.ad={aid:\"3671568720302\",cid:\"8190573510602\",w:\"0\",h:\"0\"};<\/script>\n</body></html><\!-- creativeModDate = 1651322827000 --\><script src=\"https://c.amazon-adsystem.com/bao-csm/imdb-web-display/csmv5.js\"><\/script>\n<script type=\"text/javascript\">\n var amzncsm = amzncsm || {}; amzncsm.instrURL = \"https://aax-eu.amazon-adsystem.com/x/px/JNZLP0oGGLte8yXmWQDDwFoAAAGEKB_77QMAAADKAQBOL0EgICAgICAgICAgICBOL0EgICAgICAgICAgICDn68Ri/\";\n if(typeof amzncsm.rmR === \"function\") {\n amzncsm.rmR(amzncsm.instrURL, window, []);\n }\n<\/script>\n\n <div id=\"top_rhs_webbug\" style=\"display:none;\">\n\n <img src=\"https://aax-eu.amazon-adsystem.com/e/loi/imp?b=JNZLP0oGGLte8yXmWQDDwFoAAAGEKB_77QMAAADKAQBOL0EgICAgICAgICAgICBOL0EgICAgICAgICAgICDn68Ri\" border=\"0\" height=\"1\" width=\"1\" alt=\"\"/>\n<script>\n \n var ad_utils = ad_utils || window.top.ad_utils;\n\n var csmMetrics = window.top.ue;\n\n function fireBtrPixel(isBtrCompliant) {\n if (isBtrCompliant && ad_utils && ad_utils.adsBtrUtils) {\n let impressionPixelUrl;\n impressionPixelUrl = \'https://aax-eu.amazon-adsystem.com/e/loi/imp?b=JNZLP0oGGLte8yXmWQDDwFoAAAGEKB_77QMAAADKAQBOL0EgICAgICAgICAgICBOL0EgICAgICAgICAgICDn68Ri\';\n const btrPixelUrl = ad_utils.adsBtrUtils.modifyPixelUrlToBtrCompliant(impressionPixelUrl);\n if (btrPixelUrl) {\n ad_utils.adsBtrUtils.createBtrPixel(\n btrPixelUrl,\n document.body,\n \'TOP_RHS\');\n }\n }\n }\n\n function btrEvaluationCallback() {\n if (ad_utils && ad_utils.adsBtrUtils && ad_utils.tarnhelmAdUtils) {\n var creativeDocument = window.tarnhelmDocument || document;\n\n var tarnhelmData = window.tarnhelmData || (window.tarnhelm_backup && window.tarnhelm_backup.appData) || window.unitData;\n\n if (tarnhelmData) {\n ad_utils.tarnhelmAdUtils.markTarnhelmAdForMRC(tarnhelmData, creativeDocument);\n }\n\n if (ad_utils.adsBtrUtils) {\n fireBtrPixel(ad_utils.adsBtrUtils.evaluateCreativeBtrCriteria(creativeDocument));\n }\n\n if (csmMetrics && typeof csmMetrics.count === \'function\') {\n csmMetrics.count(\'1PimpressionPixelFiredWithBTR\', 0);\n csmMetrics.count(\'top_rhs_1PimpressionPixelFiredBTR\', 0);\n }\n }\n }\n\n if (document.readyState === \'complete\') {\n btrEvaluationCallback();\n } else {\n window.addEventListener(\'load\', btrEvaluationCallback);\n }\n<\/script>\n<script>\n var csmMetrics = window.top.ue;\n if (csmMetrics && typeof csmMetrics.count === \'function\') {\n csmMetrics.count(\'impressionPixelFired\', 0);\n csmMetrics.count(\'top_rhs_impressionPixelFired\', 0);\n }\n<\/script>\n </div>\n\n');
}
}
}, "ad_utils not defined, unable to inject serverside ad");
var videoEvt = {
type: '',
dispatcher: 'video-handler',
slotName: 'top_rhs',
timestamp: Date.now()
};
var genericEvt;
videoEvt.type = '1P-ad-autoplay-video-maybe-present';
if (window && window.origin) {
window.postMessage(videoEvt, window.origin);
if (genericEvt) {
window.postMessage(genericEvt, window.origin);
}
}
                </script>
                <!-- End TOP_RHS -->
                <!-- no content received for slot: rhs_cornerstone -->




                <a name="slot_right-4"></a>
                <div class="aux-content-widget-2">






                    <script type="text/javascript">if(typeof uet === 'function'){uet('bb','LinksWidget',{wb:1});}</script>




                    <span class="ab_widget">
                        <div class="ab_links">
                            <span class="widget_header"> <span class="oneline"> <h3> IMDb Charts</h3> </span> </span> <div class="widget_content no_inline_blurb"> <div class="widget_nested"> <div class="full-table"> <div class="table-cell"> <div class="full-table"> <div class="table-row"> <div class="table-cell primary"> <a href="/chart/boxoffice?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=470df400-70d9-4f35-bb05-8646a1195842&amp;pf_rd_r=CP5ABK81TSEGHV6GC6P7&amp;pf_rd_s=right-4&amp;pf_rd_t=15506&amp;pf_rd_i=boxoffice&amp;ref_=chtbo_ql_1" class="selected"> Box Office </a> </div> </div> <div class="table-row"> <div class="table-cell primary"> <a href="/chart/moviemeter?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=470df400-70d9-4f35-bb05-8646a1195842&amp;pf_rd_r=CP5ABK81TSEGHV6GC6P7&amp;pf_rd_s=right-4&amp;pf_rd_t=15506&amp;pf_rd_i=boxoffice&amp;ref_=chtbo_ql_2"> Most Popular Movies </a> </div> </div> <div class="table-row"> <div class="table-cell primary"> <a href="/chart/top?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=470df400-70d9-4f35-bb05-8646a1195842&amp;pf_rd_r=CP5ABK81TSEGHV6GC6P7&amp;pf_rd_s=right-4&amp;pf_rd_t=15506&amp;pf_rd_i=boxoffice&amp;ref_=chtbo_ql_3"> Top 250 Movies </a> </div> </div> <div class="table-row"> <div class="table-cell primary"> <a href="/chart/top-english-movies?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=470df400-70d9-4f35-bb05-8646a1195842&amp;pf_rd_r=CP5ABK81TSEGHV6GC6P7&amp;pf_rd_s=right-4&amp;pf_rd_t=15506&amp;pf_rd_i=boxoffice&amp;ref_=chtbo_ql_4"> Top Rated English Movies </a> </div> </div> <div class="table-row"> <div class="table-cell primary"> <a href="/chart/tvmeter?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=470df400-70d9-4f35-bb05-8646a1195842&amp;pf_rd_r=CP5ABK81TSEGHV6GC6P7&amp;pf_rd_s=right-4&amp;pf_rd_t=15506&amp;pf_rd_i=boxoffice&amp;ref_=chtbo_ql_5"> Most Popular TV Shows </a> </div> </div> <div class="table-row"> <div class="table-cell primary"> <a href="/chart/toptv?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=470df400-70d9-4f35-bb05-8646a1195842&amp;pf_rd_r=CP5ABK81TSEGHV6GC6P7&amp;pf_rd_s=right-4&amp;pf_rd_t=15506&amp;pf_rd_i=boxoffice&amp;ref_=chtbo_ql_6"> Top 250 TV Shows </a> </div> </div> <div class="table-row"> <div class="table-cell primary"> <a href="/india/top-rated-indian-movies?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=470df400-70d9-4f35-bb05-8646a1195842&amp;pf_rd_r=CP5ABK81TSEGHV6GC6P7&amp;pf_rd_s=right-4&amp;pf_rd_t=15506&amp;pf_rd_i=boxoffice&amp;ref_=chtbo_ql_7"> Top Rated Indian Movies </a> </div> </div> <div class="table-row"> <div class="table-cell primary"> <a href="/chart/bottom?pf_rd_m=A2FGELUUNOQJNL&amp;pf_rd_p=470df400-70d9-4f35-bb05-8646a1195842&amp;pf_rd_r=CP5ABK81TSEGHV6GC6P7&amp;pf_rd_s=right-4&amp;pf_rd_t=15506&amp;pf_rd_i=boxoffice&amp;ref_=chtbo_ql_8"> Lowest Rated Movies </a> </div> </div> </div> </div> </div> </div> </div>
                        </div>


                    </span>



                    <script type="text/javascript">
                if(typeof uex === 'function'){uex('ld','LinksWidget',{wb:1});}
                    </script>





                </div>













































































































            </div>
            <br class="clear">
        </div>











        <br class="clear">
    </div>
</div>