<head>
    <style>
        .modal1 {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%) scale(0);
            transition:200ms ease-in-out;
            border: 1px solid black;
            border-radius: 10%;
            z-index: 10;
            background-color: white;
            width: 500px;
            max-width: 80%;
        }
            .modal1.active {
                transform: translate(-50%,-50%) scale(1);
            }

        .modal-headers {
            padding: 10px 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid black;
        }

        .modal-headers titles {
            font-size: 1.25rem;
            font-weight: bold;
            
        }

        .modal-headers .close-btn {
            cursor: pointer;
            border: none;
            outline: none;
            background: none;
            font-size: 1.25rem;
            font-weight: bold;
        }

        .modal-bodys {
            padding: 10px 15px;
            color:black;
        }

        #overlays {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: transparent;
            pointer-events: none;
        }

        #overlays.active{
           opacity:1;
           pointer-events:all;
        }
        button{
            background-color:red;
        }
    </style>
</head>


    <button data-modal-target="#modal1">open Modal</button>
    <div class="modal1" id="modal1">
        <div class="modal-headers">
            <div class="titles" style="color:black">Ex Modal</div>
            <button data-close-button class="close-btn"></button>
        </div>
        <div class="modal-bodys">
            If you have used the web anytime in the last 5 years then you have most definitely run into an abundance of popups, also known as modals, which are quickly becoming one of the most popular components in web development.

            In this video I will cover how to create a simple modal that animates in on button click, and fades out when the modal is closed. This modal is also able to be closed by clicking anywhere outside the modal which is something most tutorial don't cover. Lastly, this modal is setup in a way that it is incredibly easy for you to customize it to the needs of your exact website.

        </div>

    </div>
    <div id="overlays">0000</div>
    <div>
        <div>jk;qljyq32</div>
        <div>jk;qljyq32</div>
    </div>


    <div class="info_box">
        <div class="star">
            <div class="showRate">
                <span class="fa fa-star checked" id="fafastarchecked"></span>
                <span class="starRate">4.3</span>
                <button class="ToRate" id="openbtn">
                    <i class='far fa-star' id="ToR"></i>
                </button>
            </div>

            <div class="showRateE">
                <span class="fa fa-star checked" id="fafastarcheckedE"></span>
                <span class="starRate">4.3</span>
                <button class="ToRateE" id="openbtn">
                    <i class='far fa-star' id="ToR"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="swiper mySwiperList" id="mylist">
        <div>
            <p id="addmylist">快來新增你的專屬片單吧!</p>
        </div>
        <div class="" id="pluslist">
            <button class="AddListBtn" id="addlistbtn" scr="/Member/Login">
                新增片單

            </button>
        </div>
    </div>

    <div class="swiper mySwipermyList" id="mylist">

        <div> <span id="addmylist">快來新增你的專屬片單吧!</span></div>
        <div class="" id="pluslist">
            @*<span id="addmylist">快來新增你的專屬片單吧!</span>*@
            <button class="AddListBtn" id="addlistbtn" onclick="window.location.href='/Member/Login'">
                新增片單
            </button>
        </div>
    </div>

@section Scripts{ 
<script>
    const openModalBtn = document.querySelectorAll('[dta-modal-target]')
    const openModalBtn = document.querySelectorAll('[data-close-button]')
    const overlay = document.getElementById('overlays')

    openModalBtn.forEach(button => {
        const modal1 = document.querySelector("#modal")
        openModal(modal1)
    })

    function openModal(modal1) {
        if (modal1 == null) return
        modal1.classList.add('active')
        overlay.classList.add('active')
    }
</script>
}