@using ClientMDA.ViewModels
@model CMovieViewModel

@{
    ViewData["Title"] = "電影劇照牆";
}

@section Styles{
    <style>
    </style>
}

<br />
<span style="font-size:33px">@ViewData["Title"] </span><span style="font-size:25px"> Photo Gallery</span>
<br />
<span style="font-size:15px">@Model.中文標題titleCht (@Model.上映年份releaseYear)</span>
<br />
<br />
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<input type="hidden" asp-for="電影編號movieId" />
<div class="card-columns"></div>
<ul id="ul1"></ul>

@section Scripts{
    @*<script src="~/js/Movie/PhotoGallery.js"></script>*@
    <script src="~/js/Movie/TopGun2.js"></script>
    <script>
        let htmlDatas = DATAS.map(data => {
            let { url, fullUrl, width, height } = data
            return (
                `
                      <div class="card bg-dark text-white">
                          <img src="${fullUrl}" class="card-img" alt="...">
                              <div class="card-img-overlay">
                                  <h5 class="card-title"></h5>
                                  <p class="card-text"></p>
                                  <p class="card-text"></p>
                              </div>
                      </div>
                    `
            )
        })
        document.querySelector(".card-columns").innerHTML = (htmlDatas.join(""))
    </script>
}
