@using Microsoft.AspNetCore.Http
@using System.Text.Json;
@inject IHttpContextAccessor Accessor

@{
    會員member mem = null;
    if (Accessor.HttpContext.Session.Keys.Contains(CDictionary.SK_LOGINED_USER))
    {
        var a = Accessor.HttpContext.Session.GetString(CDictionary.SK_LOGINED_USER);
        mem = JsonSerializer.Deserialize<會員member>(a);
    }

}
@{
    ViewData["Title"] = "PasswordEdit";
}

@section Styles{
    <link href="~/css/Member/MemberMain.css" rel="stylesheet" />
    <link href="~/css/Member/toast.css" rel="stylesheet" />
    <style>
        .white {
            color: white;
        }

        .content {
            width: 80%;
            margin: 0 auto;
        }

        .btn-cancel {
            background-color: #6c757d;
        }
    </style>
}

<div class="member_id">
    <span class="member_hello">HELLO!</span>
    @{
        if (mem.暱稱nickName != null)
        {
            <span class="member_id_name">@mem.暱稱nickName</span>
        }
    }
</div>
<div class="row">
    <div class="member_menu">
        @{
            if (mem.正式會員formal == true)
            {
                <a id="watchlist" href="../Member/WatchList" title="我的片單" class="member_link">我的片單</a>
                <a id="commentList" href="../Member/CommentList" title="我的評論" class="member_link">我的評論</a>
                <a id="wishlist" href="../Member/wishlist" title="我的追蹤" class="member_link">我的追蹤</a>
            }
            else
            {
                <a id="watchlist" href="../Member/NotFormal" title="我的片單" class="member_link">我的片單</a>
                <a id="commentList" href="../Member/NotFormal" title="我的評論" class="member_link">我的評論</a>
                <a id="wishlist" href="../Member/NotFormal" title="我的追蹤" class="member_link">我的追蹤</a>
            }
        }

        <a id="orderlist" href="../Member/orderlist" title="訂單查詢" class="member_link">訂單查詢</a>
        @*<a id="memberbonuslist" href="../Member/memberbonuslist" title="我的紅利金" class="member_link">我的紅利金</a>*@
        <a id="memberdiscount" href="../Member/memberdiscount" title="我的抵用券" class="member_link">我的抵用券</a>

        <a id="memberpassword" href="../Member/PasswordEdit" title="密碼修改" class="member_link">密碼修改</a>
        <a id="MemberEdit" href="../Member/MemberEdit" title="資料修改" class="member_link ">資料修改</a>
        <a href="../Member/logout" class="member_link" title="登出">登出</a>
    </div>
    <div class="member_main">
        <div class="member_area">
            <!--content-->
            <div class="content white">
                <form method="post" name="userInfo" action="~/Member/PasswordEdit">
                    <div class="dialog-title">
                        <h2 class="white">變更密碼</h2>
                        <div class="dialog-close mui-icon icon-btn mui-icon-close" title="關閉"></div>
                    </div>
                    <div class="dialog-content">
                        <div class="op" style="margin-top: 10px;">
                            <div class="label div-old-pswd">
                                <label for="txt_old_password">目前密碼</label>
                                <input type="hidden" name="memberId" value="@mem.會員編號memberId" />
                            </div>
                            <div class="div-old-pswd">
                                <input autocomplete="off" id="txt_old_password" name="txt_old_password" style="width:240px" type="password">
                                @{
                                    if (ViewBag.txtError == false)
                                    {
                                        <small id="wrongpwdMessage" style="color:red">原密碼錯誤</small>
                                    }
                                }
                            </div>
                            <div class="label mt-3">
                                <label for="login-pwd" style="margin-right:0px">新密碼</label><span class="r-hint">(密碼長度需為 6 ~ 16 個字元)</span>
                            </div>
                            <div>
                                <input autocomplete="off" id="txt_new_password" name="txt_new_password" style="width:240px" type="password">
                            </div>
                            <div class="label mt-3">
                                <label for="login-pwd">確認新密碼</label>
                            </div>
                            <div>
                                <input autocomplete="off" id="txt_new_password_confirm" name="txt_new_password_confirm" style="width:240px" type="password">
                                <small id="differMessage"></small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" id="save" value="儲存變更" class="site-btn m-1" />
                        <input type="button" id="cancel" value="取消" class="site-btn btn-cancel m-1" />
                    </div>
                </form>
            </div>

            <!-- The actual snackbar -->
            <div id="snackbar">密碼修改成功</div>

            <!--end content-->
        </div>
    </div>
</div>
@section Scripts{

    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>


    <script>
    const btnCancel = document.querySelector("#cancel");
    const txtOld = document.querySelector("#txt_old_password");
    const txtNew = document.querySelector("#txt_new_password");
    const txtNewCon = document.querySelector("#txt_new_password_confirm");
    const msgWrong = document.querySelector("#wrongpwdMessage");
    const msgDiffer = document.querySelector("#differMessage");
    const save = document.querySelector("#save");
    const a = '@ViewBag.txtSuccess'

    btnCancel.addEventListener("click", () => {
        document.querySelector("#txt_old_password").value = "";
        document.querySelector("#txt_new_password").value = "";
        document.querySelector("#txt_new_password_confirm").value = "";
    })
    txtNewCon.addEventListener("input", () => {
        if (txtNew.value != txtNewCon.value) {
            msgDiffer.textContent = "輸入密碼不一致"
        }
        else {
            msgDiffer.textContent = ""
        }
    })
    txtNew.addEventListener("input", () => {
        if (txtNew.value != txtNewCon.value) {
            msgDiffer.textContent = "輸入密碼不一致"
        }
        else {
            msgDiffer.textContent = ""
        }
    })
    save.addEventListener("click", () => {
        if (msgDiffer.textContent != "" || txtOld.value == "" || txtNew.value=="") {
            save.setAttribute('type', 'button')
        }
        else {
            save.setAttribute('type', 'submit')
        }
    })

    if (a == "s") {
        window.onload=myFunction()
    }


    function myFunction() {
        // Get the snackbar DIV
        var x = document.getElementById("snackbar");

        // Add the "show" class to DIV
        x.className = "show";

        // After 3 seconds, remove the show class from DIV
        setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
    }
    </script>

}