#swipercon {
    display: flex;    
    flex-direction: row;
    justify-items: center;
}

#swipersw {
    width: 280px;
    height: 414px;    
}

#swipersw-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    /*border-radius: 18px;*/
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

#swipersw-slide:nth-child(1n) {
    background-color: transparent;
}

    #swipersw-slide:nth-child(2n) {
        background-color: transparent;
    }

    #swipersw-slide:nth-child(3n) {
        background-color: transparent;
    }

    #swipersw-slide:nth-child(4n) {
        background-color: transparent;
    }

    #swipersw-slide:nth-child(5n) {
        background-color: transparent;
    }

    #swipersw-slide:nth-child(6n) {
        background-color: transparent;
    }

    #swipersw-slide:nth-child(7n) {
        background-color: transparent;
    }

    #swipersw-slide:nth-child(8n) {
        background-color: transparent;
    }

    #swipersw-slide:nth-child(9n) {
        background-color: transparent;
    }

    #swipersw-slide:nth-child(10n) {
        background-color: transparent;
    }

#swipersw-slide {
    position: relative;
}
    #swipersw-slide > #bookmarkRE{
        position:absolute;
        inset:0 0 0 -82%;
    }

#bookplusRE {
    background-color: transparent;
    height: 6%;
    width: 5%;
    color: white;
    cursor: pointer;
    z-index:9;
}
#bookmarkRE > #bookplusRE {
    position: absolute;
    inset: 1% 0 0 47.5%;
}